<!-- Menu items edit start -->
<!-- <div class="row" id="form-menuitemedit"> -->
<div class="col-xs-12 col-md-3"></div>
<div class="app-title col-xs-12 col-md-6">
  <h3>Edit Menu Item</h3>
  <form id="btn-menuitemedit-submit">
    <div class="form-group">
      <label for="itemName">Item Name</label>
      <textarea id="edit-itemname" name="item[name]" type="text" class="form-control itemname" placeholder="Name to display on menu"></textarea>
      <label for="itemDescription">Item Description</label>
      <textarea id="edit-itemdescr" name="item[description]" type="text" class="form-control" placeholder="Describe the item"></textarea>
      <label for="itemPrice">Item Price</label>
      <input id="edit-itemprice" name="item[price]" type="number" step=".01" class="form-control" placeholder="0.00">
      <label for="itemCategory">Item Category</label>
      <input id="edit-itemcategory" name="item[category]" type="text" class="form-control" value={{item.category}} placeholder="Entree, appetizer, etc.">
      <button type="submit" class="btn btn-primary"> Update </button>
      <!-- <button type="submit" class="btn btn-primary"> Cancel </button> -->
    </div>
  </form>
</div>
<div class="col-xs-12 col-md-3"></div>
<!-- Menu items edit ends -->
