<!-- User edit start -->
<!-- <div class="row" id="form-menuitemedit"> -->
<div class="col-xs-12 col-md-4"></div>
  <div class="col-xs-12 col-md-4">
    <h3>Edit User</h3>
    <form id="btn-useredit-submit">
      <div class="form-group">
        <label for="userEmail"> Email Address </label>
        <input id="edit-useremail" name="user[email]" type="email" class="form-control itemname" placeholder="user@place.com">
        <label for="adminStatus"> Admin Status </label>
        <!-- <input id="edit-userisadmin" name="user[isadmin]" type="text" class="form-control" placeholder="true or false"> -->
        <select id="edit-userisadmin" name="user[isadmin]" class="form-control">
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
        <button type="submit" class="btn btn-primary"> Update </button>
        <!-- <button type="submit" class="btn btn-primary"> Cancel </button> -->
      </div>
    </form>
  </div>
  <div class="col-xs-12 col-md-4"></div>
</div>
<!-- User edit ends -->
