$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Gugi|Lato:900');

.app-title {
  background: rgba(0, 0, 0, 0.55);
  border-color: yellow;
  border-radius: 40px;
  border-style: solid;
  color: white;
  font-family: 'Gugi', cursive;
  text-align: center;
}

body {
  background: url('../img/bg-unsplash-sushi.jpg') no-repeat center center fixed;
  background-size: cover;
  // color: white;
  // font-family: 'Lato', sans-serif;
  text-align: center;
}

.p {
  // font-size: 24px;
}

.row {
  margin: auto;
  margin-bottom: 20px;
}
